name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: MorganMWJ.WordsearchMaker

    steps:
      - uses: actions/checkout@v4

      # --------------------
      # .NET
      # --------------------
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test -c Release --no-build

      # --------------------
      # React
      # --------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: wordsearch-react-app/package-lock.json

      - name: Install React dependencies
        working-directory: wordsearch-react-app
        run: npm ci

      - name: Build React app
        working-directory: wordsearch-react-app
        run: npm run build
